<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!isSearch">Wallpaper</ion-title>

    <ion-buttons slot="end" *ngIf="!isSearch">
      <ion-button icon-only (click)="closeButton()" class="icon-color">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-searchbar
      #wallPaperSearch
      *ngIf="isSearch"
      (ionClear)="closeButton()"
      (search)="serchItem($event)"
    ></ion-searchbar>
    <!-- <ion-buttons slot="end" *ngIf="isSearch">
      <ion-button icon-only (click)="closeButton()" class="icon-color">
        <ion-icon name="close" class="close-search"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)" #content>
  <div *ngIf="spinner" class="centered">
    <ion-spinner name="dots"></ion-spinner>
  </div>

  <ion-segment value="heart" color="primary" scrollable="true" mode="md">
    <ion-segment-button value="Trending" (click)="clickTag('trending')">
      <ion-label class="segment-label">#Trending</ion-label>
    </ion-segment-button>
    <ion-segment-button value="HD" (click)="clickTag('hd')">
      <ion-label class="segment-label">#HD</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Creative" (click)="clickTag('creative')">
      <ion-label class="segment-label">#Creative</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Moon" (click)="clickTag('moon')">
      <ion-label class="segment-label">#Moon</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Space" (click)="clickTag('Space')">
      <ion-label class="segment-label">#Space</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Ghost" (click)="clickTag('ghost')">
      <ion-label class="segment-label">#Ghost</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Cool" (click)="clickTag('cool')">
      <ion-label class="segment-label">#Cool</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Car" (click)="clickTag('car')">
      <ion-label class="segment-label">#Car</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Music" (click)="clickTag('music')">
      <ion-label class="segment-label">#Music</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Festival" (click)="clickTag('festival')">
      <ion-label class="segment-label">#Festival</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Flowers" (click)="clickTag('flowers')">
      <ion-label class="segment-label">#Flowers</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Beach" (click)="clickTag('beach')">
      <ion-label class="segment-label">#Beach</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Sport" (click)="clickTag('sport')">
      <ion-label class="segment-label">#Sport</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-grid *ngIf="!isNotFound && !spinner" class="grid">
    <ion-row>
      <ion-col
        size="6"
        *ngFor="let image of service.holeWallpapers; let i=index"
      >
        <ion-card (click)="presentProfileModal(i)" class="card-md">
          <img src="{{image['src']['tiny']}}" />
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="empty-favorite" *ngIf="isNotFound && !spinner">
    <div class="empty-results">
      <h3 class="ion-text-center">
        <img src="../assets/logo.png" width="60px" />
      </h3>
      <p class="ion-text-center">You have no Result</p>
    </div>
  </div>

  <div style="font-size: 7pt" *ngIf="!isNotFound && !spinner">
    <p class="ion-text-center">Photos provided by Pexels</p>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="isShown">
    <ion-fab-button mini (click)="scrollToTop()" class="fab-bg">
      <ion-icon name="caret-up-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
