.view-div {
  float: left;
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
  color: #fff;
}

.card-md {
  margin: 2px;
  width: 99%;
  position: relative;
}
